body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: white;
}

hr {
    border-color: #d9a9b7;
    border-width: 3px;
    max-width: 65px;
}

.buffer {
    height: 12rem;
}

.btn {
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 250px;
}

.btn-primary {
    background-color: #d9a9b7;
    border-color: #d9a9b7;
}

.btn-primary:hover {
    background-color: #d48ea2;
    border-color: #d48ea2;
    border-width: 3px;
    
}

.btn-xl {
    padding: 1rem 1.8rem;
}